/*estiliza campo*/
.campo{
    margin-left: 400px;
    margin-right: auto;
    border: 1px solid white;
    width: 260px;
}

/*estiliza celula */
.celula{
    width: 80px;
    height: 80px;
    border: 2px solid rgba(148, 26, 179, 0.705);
    background-color: rgba(240, 248, 255, 0.247);
}